<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="/styles.css">-->
  <title>YouRandom</title>
</head>

<body>


  <div class="youtube content">
    <h2>press "refresh" for random video | <%= video_id %></h2>
    <a href="http://localhost:3000/">
      <button>refresh</button></a>
  </div>
  <div id="iframeDisplay"><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


</body>

</html>